# Ignore the build, install, and logs directories
melon_ws/build/
melon_ws/install/
melon_ws/log/

# Ignore the franka_description package directory
melon_ws/src/franka_description/

# Ignore Python bytecode files
*.pyc
__pycache__/
