<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="Melon_ros2_control" params="name initial_positions_file ros2_control_hardware_type">
        <xacro:property name="initial_positions" value="${load_yaml(initial_positions_file)['initial_positions']}"/>

        <ros2_control name="${name}" type="system">
            <hardware>
                <!-- By default, set up controllers for simulation. This won't work on real hardware -->
                <xacro:if value="${ros2_control_hardware_type == 'mock_components'}">
                    <plugin>mock_components/GenericSystem</plugin>
                </xacro:if>
                <xacro:if value="${ros2_control_hardware_type == 'isaac'}">
                    <plugin>topic_based_ros2_control/TopicBasedSystem</plugin>
                    <param name="joint_commands_topic">/isaac_joint_commands</param>
                    <param name="joint_states_topic">/isaac_joint_states</param>
                </xacro:if>
            </hardware>
            <!-- franka panda joints -->
            <joint name="fr3_joint1">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['fr3_joint1']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="fr3_joint2">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['fr3_joint2']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="fr3_joint3">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['fr3_joint3']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="fr3_joint4">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['fr3_joint4']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="fr3_joint5">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['fr3_joint5']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="fr3_joint6">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['fr3_joint6']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="fr3_joint7">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['fr3_joint7']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="fr3_finger_joint1">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['fr3_finger_joint1']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <!-- wheel joints -->
            <joint name="left_wheel_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['left_wheel_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="right_wheel_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['right_wheel_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <!-- passive joints -->
            <joint name="back_left_passive_wheel_x_frame_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['back_left_passive_wheel_x_frame_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="back_left_passive_wheel_y_frame_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['back_left_passive_wheel_y_frame_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="back_left_passive_wheel_z_frame_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['back_left_passive_wheel_z_frame_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="back_right_passive_wheel_x_frame_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['back_right_passive_wheel_x_frame_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="back_right_passive_wheel_y_frame_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['back_right_passive_wheel_y_frame_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="back_right_passive_wheel_z_frame_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['back_right_passive_wheel_z_frame_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="front_left_passive_wheel_x_frame_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['front_left_passive_wheel_x_frame_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="front_left_passive_wheel_y_frame_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['front_left_passive_wheel_y_frame_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="front_left_passive_wheel_z_frame_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['front_left_passive_wheel_z_frame_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="front_right_passive_wheel_x_frame_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['front_right_passive_wheel_x_frame_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="front_right_passive_wheel_y_frame_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['front_right_passive_wheel_y_frame_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="front_right_passive_wheel_z_frame_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['front_right_passive_wheel_z_frame_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
        </ros2_control>
    </xacro:macro>
</robot>
